@page "/"

<PageTitle>Home</PageTitle>

<div>
    <p class="h1">Bulk OCR-Web</p>
    <p>A tool to extract text from multiple images</p>
</div>

<FileUploadComponent></FileUploadComponent>
@*<ErrorBoundary>
    <FileUpload />
</ErrorBoundary>
*@