@page "/"

<PageTitle>Home</PageTitle>

<div class="text-center">
    <p class="h1">Bulk OCR-Web</p>
    <p class="text-center">A tool to extract text from multiple images</p>
</div>
<div>
    <FileUploadComponent></FileUploadComponent>
</div>

@*<ErrorBoundary>
    <FileUpload />
</ErrorBoundary>
*@