<h3>ConvertedText</h3>
<div>
    <p>
        @Convert();
    </p>
</div>



@code {
    //private bool hiddenProgress = true;
    private string? _imagePath;

    [Parameter]
    public string? ImagePath { get; set; }


    private TesseractEngine? ocrengine;
    private Pix? img;
    private Page? res;
    private string? convertedText;

    private string Convert()
    {
        ocrengine = new TesseractEngine(@".\tessdata", "eng", EngineMode.Default);

        img = Pix.LoadFromFile(ImagePath);

        res = ocrengine.Process(img);

        //hiddenProgress = false;

        convertedText = res.GetText();

        return convertedText;
    }
}
