<div class="text-center"> 
    @progressStatus
</div>

<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" 
    role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" 
    style="width: @(progressPercent)%" ></div>
</div>

@code {
    [Parameter]
    public string progressStatus { get; set; } = "Please wait ... Uploading files";

    [Parameter]
    public double progressPercent { get; set; }

}
